@charset "utf-8";
.div_top{

    width:inherit;
    height:inherit;
    position: relative;
    
}
.ul_top{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    text-align: center;
    line-height: 35px;
    right:0;
    display: inline-block;
    height:inherit;   
    position: absolute;
   
    
}
.ul_top>li{
    width:auto;
    height:inherit;
    float: left;
    margin-left:10px;
    cursor: pointer;

}
.div_top>span{
    width:80px;
    height:35px;
    background-image: url("../images/tving_logo.png");
    position:absolute;
}

